.dashboard {
  display: flex;
  height: 100vh;
  background: #f4f7fa;
  font-family: "Segoe UI", sans-serif;
}


/* SIDEBAR */

.sidebar {

  width: 240px;
  background: white;
  padding: 25px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-shadow: 2px 0 10px rgba(0,0,0,0.05);

}

.sidebar p {

  padding: 12px;
  cursor: pointer;
  border-radius: 8px;
  color: #555;

}

.sidebar p:hover {

  background: #00c896;
  color: white;

}


/* LOGOUT */

.logout-btn {

  background: linear-gradient(
    45deg,
    #ff4d4d,
    #ff0000
  );

  border: none;
  padding: 12px;

  border-radius: 10px;

  color: white;

  cursor: pointer;

}



/* MAIN */

.main {

  flex: 1;
  padding: 30px;

}



/* HEADER */

.header {

  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

}


.add-btn {

  background: linear-gradient(
    45deg,
    #00c896,
    #00a8ff
  );

  border: none;

  padding: 12px 20px;

  color: white;

  border-radius: 10px;

  cursor: pointer;

}



/* CARDS */

.cards {

  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 20px;

}

.card {

  background: white;

  padding: 20px;

  border-radius: 15px;

}



/* CHART */

.chart {

  background: white;

  padding: 20px;

  margin-top: 20px;

  border-radius: 15px;

}



/* TRANSACTIONS */

.recent {

  background: white;

  padding: 20px;

  margin-top: 20px;

  border-radius: 15px;

}

.transaction {

  display: flex;

  justify-content: space-between;

  padding: 10px 0;

}